<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075439141489-1a40sm4o1cq243fgq6c3694vl0hvqg9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075439141489-1a40sm4o1cq243fgq6c3694vl0hvqg9t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1075439141489-1rrnotqjsetoimaihh784eog3df14889.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1UT2YIInDxR_hKY-dFF5RE_YP438xoyU</string>
	<key>GCM_SENDER_ID</key>
	<string>1075439141489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emmanuelmalan.pyclub</string>
	<key>PROJECT_ID</key>
	<string>sminth-225</string>
	<key>STORAGE_BUCKET</key>
	<string>sminth-225.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075439141489:ios:9ceabb0b017b9e096051d0</string>
	<key>DATABASE_URL</key>
	<string>https://sminth-225.firebaseio.com</string>
</dict>
</plist>